<!doctype html>
<!--
COPYRIGHT by HighHay/Mivfx
Before using this theme, you should accept themeforest licenses terms.
http://themeforest.net/licenses
-->

<body id="menu" class="hh-body alt-bg left-light">
	<!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="/pub/http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

	<!-- Page Loader
	<div class="page-loader" id="page-loader">
		<div>
			<div class="icon ion-spin"></div>
			<p>loading</p>
		</div>
	</div> -->

	<!-- BEGIN OF site header Menu -->
	<header class="hh-header header-top">
		<!-- Begin of logo -->
		<div class="logo-wrapper">
			<a href="/pub/index-2.html">
				<h2 class="logo">
					<span class="logo-img">
						<img class="light-logo" src="/pub/img/logo.png" alt="Logo">
					</span>
					<span class="logo-text show-for-medium-up">
						<span class="title">Appy</span>
						<span class="desc">Land</span>
					</span>
				</h2>
			</a>
		</div>
		<!-- End of logo -->


		<!-- Begin of top menu -->
		<nav class="top-menu-links">
			<ul class="links">
				<li><a href="/">Home</a></li>
				<li><a href="/#about-us">About</a></li>
				<li><a href="/#projects">Projects</a></li>
				<li class="show-for-small-only"><a href="#contact">Contact</a></li>
			</ul>
		</nav>
		<!-- End of top menu -->


		<!-- Begin of menu icon -->
		<a class="menu-icon">
			<div class="bars">
				<div class="bar1"></div>
				<div class="bar2"></div>
				<div class="bar3"></div>
			</div>
		</a>
		<!-- End of menu icon -->

	</header>
	<!-- END OF site header Menu-->

	<!-- BEGIN OF page cover -->
	<div class="hh-cover page-cover">
		<!-- Cover Background -->
		<!--		<div class="cover-bg pos-abs full-size bg-img  bg-blur-0" data-image-src="/pub/img/bg-default.jpg"></div>-->

		<!-- Transluscent mask as filter -->
		<div class="cover-bg-mask pos-abs full-size bg-color" data-bgcolor="rgba(2, 3, 10, 0.7)"></div>

		<!-- Image mask layer -->
		<div class="cover-bg-mask pos-abs full-size bg-img"
			data-image-src="http://130.185.73.80:1342{{post.featuredImage.url}}"></div>

	</div>
	<!--END OF page cover -->
	<!-- BEGIN OF page cover -->
	<div class="hh-cover page-cover">
		<!-- Cover Background -->
		<!--		<div class="cover-bg pos-abs full-size bg-img  bg-blur-0" data-image-src="/pub/img/bg-default.jpg"></div>-->

		<!-- Transluscent mask as filter -->
		<div class="cover-bg-mask pos-abs full-size bg-color" data-bgcolor="rgba(2, 3, 10, 0.7)"></div>

		<!-- Image mask layer -->
		<div class="cover-bg-mask pos-abs full-size bg-img"
			data-image-src="http://130.185.73.80:1342{{post.featuredImage.url}}"></div>

	</div>
	<!--END OF page cover -->

	<!-- BEGIN OF page main content -->
	<main class="page-main fullpg pagedetail" id="pagedetail">

		<!-- Begin of home section -->
		<div class="section section-home fp-auto-height-responsive item-home" data-section="home">
			<div class="section-bg"></div>
			<div class="content">
				<!-- Begin of Content -->
				<div class="content-centered c-columns anim">
					<div class="wrapper">
						<!-- Title and description -->
						<div class="title-desc">
							<div class="t-wrapper">
								<!-- Logo -->
								<!--<div class="logo home-logo ">
										<img class="" src="/pub/img/logo.png" alt="Logo">
								</div>-->
								<!-- Title -->
								<header class="title">
									<h2 class="high">{{post.name}}
									</h2>
									<h3>Best practices when wireframing customer project</h3>
								</header>
								<!-- desc -->
								<div class="desc">
									<!-- Action button -->
									<div class="cta-btns">
										<a class="btn btn-normal scroll down" href="/pub/#">
											<span class="txt">Read More</span>
											<span class="arrow-icon"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Arrows scroll down/up -->
					<footer class="s-footer scrolldown">
						<a class="down btn">
							<span class="icon"></span>
							<span class="txt">Scroll Down</span>
						</a>
					</footer>
				</div>
				<!-- End of Content -->
			</div>
		</div>
		<!-- End of home section -->

		<!-- Begin of article section -->
		<div class="section section-article fp-auto-height-responsive bg-white bg-bright" data-section="">
			<!-- Begin of section wrapper -->
			<div class="section-wrapper padding-top">

				<!-- content -->
				<div class="section-content anim">
					<article class="article article-light">
						<header class="article-header">
							<div class="wrapper">
								<div class="author-view">
									<div class="img">
										<img alt="Avatar" src="/pub/img/items/img-sample5.jpg">
									</div>
									<div class="detail">
										<h4>Tim Ashley</h4>
										<p>Designer, Blogger</p>
									</div>
								</div>
							</div>
						</header>
						<div class="article-content">
							<div class="wrapper">
								{{{post.content}}}
							</div>
						</div>
						<footer class="article-footer">
							<div class="article-details">
								<div class="author-view">
									<div class="img">
										<img alt="Avatar" src="/pub/img/items/img-sample5.jpg">
									</div>
									<div class="detail">
										<h4>Tim Ashley</h4>
										<p>Designer, Blogger</p>
									</div>
								</div>
							</div>
						</footer>
					</article>
				</div>

			</div>
			<!-- End of section wrapper -->
		</div>
		<!-- End of article section -->
		<!-- Begin of Works/projects section -->
		<div class="section section-projects fp-auto-height-responsive" data-section="projects">

			<section class="content clearfix">

				<div class="content-centered c-columns">
					<div class="c-title">
						<h2>Recents</h2>
					</div>

					<div class="wrapper clip-overflow anim">
						<!-- Begin of works/services/products -->
						<div class="gallery-wrapper">
							<div class="items-tile">
								<ul class="c-item-list row small-up-1 medium-up-2 large-up-3">
									{{#each related}}
									<!-- item -->
									<li class="column">
										<a class="tile-wrapper" href="/post/{{_id}}">
											<div class="item-img">
												<div class="img bg-img"
													data-image-src="http://130.185.73.80:1342{{post.featuredImage.url}}">
												</div>
											</div>
											<div class="item-desc">
												<h3 class="title">UX Design</h3>
												<h4>Category / {{categories}}</h4>
											</div>
										</a>
									</li>
									{{/each}}

								</ul>
							</div>
						</div>
						<!-- End of works/services/products -->
					</div>
				</div>
				<!-- end of left elements -->
			</section>
		</div>
		<!-- End of Works/projects section -->

	</main>
	<!-- END OF page main content -->

	<!-- BEGIN OF page footer -->
	<footer id="site-footer" class="site-footer">
		<!-- Notes -->
		<div class="note">
			<p> &copy; 2019 AppyLand - by <a href="http://pashasoftware.ir"><span
						class="marked">PashaSoftware</span></a>
				info@appy.land</p>
		</div>

		<!-- Begin of top menu -->
		<nav class="bottom-menu-links">
			<ul class="links">
				<li><a href="/pub/#facebook">Facebook</a></li>
				<li><a href="/pub/#twitter">Twitter</a></li>
				<li><a href="/pub/#contact">Contact</a></li>
			</ul>
		</nav>
		<!-- End of top menu -->

	</footer>
	<!-- END OF site footer -->
	<!--		<script src="/pub///code.jquery.com/jquery-1.12.4.min.js"></script>-->
	<script src="/pub/js/vendor/jquery-1.12.4.min.js"></script>
	<!-- All vendor scripts -->
	<script src="/pub/js/vendor/scrolloverflow.min.js"></script>
	<script src="/pub/js/vendor/all.js"></script>
	<script src="/pub/js/particlejs/particles.min.js"></script>

	<!-- Countdown script -->
	<script src="/pub/js/jquery.downCount.js"></script>

	<!-- Form script -->
	<script src="/pub/js/form_script.js"></script>

	<!-- Javascript main files -->
	<script src="/pub/js/main.js"></script>

	<!-- Google Analytics: Uncomment and change UA-XXXXX-X to be your site"s ID. -->
	<!--<script>
		(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
		function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
		e=o.createElement(i);r=o.getElementsByTagName(i)[0];
		e.src="/pub///www.google-analytics.com/analytics.js";
		r.parentNode.insertBefore(e,r)}(window,document,"script","ga"));
		ga("create","UA-XXXXX-X");ga("send","pageview");
	</script>-->

	<!-- Uncomment below to enable particles scripts -->
	<!--<script src="/pub/./js/particlejs/particles-init.js"></script>-->
	<!--<script src="/pub/./js/particlejs/particles-init-snow.js"></script>-->
</body>